.header{
    box-sizing: border-box;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.header:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin: 3px;
}